<nav>
        <div class="insideNav">
            <div id="webName">
                <i class="fa-regular fa-snowflake"></i>
                <a href="/">Sanjay Weather</a>
                <i class="fa-regular fa-snowflake"></i>
            </div>
            <button class="hamburger" id="hamburger">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div id="linkName">
                <ul id="ulNav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>

        </div>


    </nav>