<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>headerLinks}}
    
</head>

<body>
    
    {{>navbar}}

    <div class="container">
        <div id="rightHeader">
            <figure>
                <img id="myImg" src="images/about.png" alt="">
            </figure>
        </div>
        <div id="leftHeader">
            <p>Welcome to Coding World</p>
            <h1>I am a <span style="color: #0097e6;">Programmer </span></h1>
            <a href="/about"><button class="btn">About me</button></a>
        </div>
        

    </div>


   {{>footer}}
</body>
<script src="js/main.js"></script>

</html>