<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>headerLinks}}

</head>

<body>
    
    {{>navbar}}


    <div class="container">
        <div id="leftHeader">
            <p>Welcome to weather app</p>
            <h1>Get the latest <span style="color: #0097e6;">weather</span> info of your city</h1>
            <a href="/weather"><button class="btn">Check now</button></a>
        </div>
        <div id="rightHeader">
            <figure id="rightFigure">
                <img class="figureImg" src="images/bg1.png" alt="">
                <img class="figureImg" src="images/bg2.png" alt="">
                <img class="figureImg" src="images/bg1.png" alt="">
                <img class="figureImg" src="images/bg3.png" alt="">
                <img class="figureImg" src="images/bg1.png" alt="">





            </figure>
        </div>

    </div>

{{>footer}}
   
</body>
<script src="js/main.js"></script>
</html>